#button{ padding: 0;}

#button li{   display: inline; }

#button li a{
    font-size: 22px;
    color: rgb(5, 0, 6);
    padding: 10px;
    background-color: darkgoldenrod;
}

#button li a:hover{
    background-color: purple;
}